@desktop-width: 1440px;
@tablet-width: 768px;

body{
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
}

img {
  max-width: 100%; 
  height: auto;
}

a {
  text-decoration: none;
}

*, *::before, *::after{
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active){
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav{
  position: relative;
  min-height: 61px;
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__toggle{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 55px;
  height: 45px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before{
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
}

.main-nav--opened .main-nav__toggle{
  &::before,
  &::after{
    content: "";
    position: absolute;
    top: 23px;
    right: 23px;
    height: 22px;
    width: 2px;
    background-color: #0f0f0f;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
  }

  &::before{
    transform: rotate(45deg);
  }

  &:after{
    transform: rotate(-45deg);
  }
}

.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav--closed .main-nav__list{
  display: none;
}

.main-nav--opened .main-nav__list{
  display: block;
}

.site-list__item a{
  display: block;
  padding: 24px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
}

.main-nav--nojs .main-nav__toggle{
  display: none;
}

.page-header__logo-image{
  vertical-align: middle;
  height: 61px;
}

.page-header__logo{
  position: relative;
  padding: 24px 110px;
  &::before{
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    top: 12px;
    left: 20px;
    background-image: url(../img/logo-mobile.svg);
  }
}

.page-header__intro{
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  width: 305px;
  padding-top: 26px;
  padding-bottom: 20px;
  margin: 0px auto;
}

.page-header__slogan{
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-align: center;
  display: block;
  font-weight: 400;
}

.page-header__container{
  margin: 0 auto;
  width: 320px;
  height: 305px;
  background-image: url(../img/index-background-mobile.jpg);
}

.page-header__image{
  display: block;
  margin: 0 auto;
  margin-top: -138px;
}

.page-header__link{
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  width: 280px;
  background-color: #68b738;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 73px;
}

.page-main{
  margin: 0 auto;
  width: 280px;
}

.categories__list{
  list-style: none;
  padding: 0;
}

.categories__item{
  background-color: #f2f2f2;
  margin-top: 20px;  
}

.categories__head{
  font-size: 24px;
  line-height: 37.02px;
  color: #111;
  padding-left: 92px;
  padding-top: 35px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  &--first::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 49px;
    top: 22px;
    left: 30px;
    background-image: url(../img/cat.svg);
    background-repeat: no-repeat;
    z-index: 1;
  }

  &--second::before{
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;
    background-image: url(../img/puma.svg);
    background-repeat: no-repeat;
    z-index: 1;
  }

  &::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 22px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

.categories__text{
  font-family: "Arial Regular";
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.categories__link{
  font-size: 16px;
  line-height: 16px;
  color: #111;
  text-transform: uppercase;
  position: relative;
  padding: 20px;
  display: inline-block;
  &::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 11px;
    top: 21px;
    right: -16px;
    background-image: url(../img/arrow.svg);
  }
}

.advantages__title{
  font-size: 36px;
  line-height: 60px;
  color: #111;
  font-weight: 400;
}

.advantages__item{
  list-style: none;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}

.advantages__text{
  font-family: "Arial Regular";
  font-size: 14px;
  line-height: 18px;
  width: 200px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: -80px;
    background-color: #68b738;
  }

  &--first::after{
    content: "";
    position: absolute;
    width: 26px;
    height: 29px;
    top: 16px;
    left: -63px;
    background-image: url(../img/advantage-1.png);
  }

  &--second::after{
    content: "";
    position: absolute;
    width: 29px;
    height: 31px;
    top: 13px;
    left: -65px;
    background-image: url(../img/advantage-2.png);
  }

  &--third::after{
    content: "";
    position: absolute;
    width: 23px;
    height: 30px;
    top: 15px;
    left: -62px;
    background-image: url(../img/advantage-3.png);
  }

  &--fourth::after{
    content: "";
    position: absolute;
    width: 26px;
    height: 31px;
    top: 15px;
    left: -63px;
    background-image: url(../img/advantage-4.png);
  }
}

.example{
  background-color: #f2f2f2;
  margin-top: 45px;
  width: 320px;
  margin-left: -20px;
  padding: 20px;
}

.example__title{
  font-size: 36px;
  line-height: 60px;
  color: #111;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 40px;
}

.example__text{
  font-family: "Arial Regular";
  font-size: 14px;
  line-height: 18px;
  width: 266px;
}

.example__definition{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.example__term{
  font-size: 24px;
  line-height: 24px;
  color: #111;
  width: 122px;
  padding: 16px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__description{
  font-family: "Arial Regular";
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  background-color: #f2f2f2;
  width: 82px;
  position: absolute;
  &--first{
    top: 49px;
    left: 18px;
  }

  &--second{
    top: 49px;
    right: 18px;
  }
}

.example__range{
  -webkit-appearance: none;
  width: 82px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

.example__range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: #68b738;
}

.example__intro{
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111;
  width: 100%;
  margin-top: 20px;
}

.example__list{
  list-style: none;
  position: relative;
  height: 240px;
  padding: 0;
}

.example__item{
  position: absolute;
}

.example__item--first{ 
  z-index: 1;
}

.example__item--js{
  display: none;
}

.example__label{
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-align: center;
}

.contacts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__title{
  font-size: 16px;
  line-height: 20px;
  color: #111;
  width: 100px;
  font-weight: 400;
}

.contacts__text{
  font-family: "Arial Regular";
  font-size: 14px;
  line-height: 20px;
  width: 135px;
}

.contacts__map{
  max-width: 320px;
  margin-left: -20px;
}

.page-footer{
  margin: 0 auto;
  width: 320px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__logo{
  display: block;
  padding: 31px 96px;
  padding-top: 39px;
  border-bottom: 1px solid #d9d9d9;
}

.social__list{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin: 26px auto;
}

.social__link{
  font-size: 0;
  display: block;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.social__link--vkontakte{
  background-image: url(../img/vk.svg);
  width: 22px;
  height: 12px;
}

.social__link--facebook{
  background-image: url(../img/fb.svg);
  width: 10px;
  height: 19px;
}

.social__link--instagram{
  background-image: url(../img/insta.svg);
  width: 16px;
  height: 16px;
}

.page-footer__academy-link{
  display: block;
  font-family: "Arial Regular";
  font-size: 16px;
  line-height: 16px;
  color: #444;
  padding-top: 31px;
  padding-bottom: 35px;
  border-top: 1px solid #d9d9d9;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    top: 22px;
    right: 0;
    background-image: url(../img/academy.svg);
    opacity: 0.6;
  }
}