body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  margin: 0 auto;
  width: 320px;
}
.main-nav {
  position: relative;
  min-height: 61px;
  width: 320px;
  background-color: #fff;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: #222;
  box-shadow: 0 8px 0 0 #222, 0 16px 0 0 #222;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 23px;
  height: 22px;
  width: 2px;
  background-color: #0f0f0f;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--opened .main-nav__list {
    display: block;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
.page-header__logo {
  position: relative;
  padding: 24px 110px;
  padding-right: 0;
}
.page-header__logo::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 38px;
  top: 16px;
  left: 20px;
  background-image: url(../img/logo-mobile.svg);
}
.page-header__logo-image {
  vertical-align: middle;
  height: 61px;
  width: 101px;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 55px;
  height: 45px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  padding: 24px;
  border-bottom: 1px solid #e6e6e6;
}
.site-list__item a {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
}
.site-list__item:first-child {
  border-top: 1px solid #e6e6e6;
}
.site-list__item:last-child {
  border: none;
}
.page-header__container {
  width: 320px;
  height: 305px;
  background-image: url(../img/index-background-mobile.jpg);
  border-top: 1px solid #e6e6e6;
}
.page-header__intro {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  width: 305px;
  padding-top: 26px;
  padding-bottom: 20px;
  margin: 0px auto;
}
.page-header__slogan {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-align: center;
  display: block;
  font-weight: 400;
}
.page-header__image {
  display: block;
  margin: 0 auto;
  margin-top: -138px;
}
.page-header__button {
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}
.page-main {
  margin: 0 auto;
  width: 280px;
}
.categories__list {
  list-style: none;
  padding: 0;
}
.categories__item {
  background-color: #f2f2f2;
}
.categories__head {
  font-size: 24px;
  line-height: 37.02px;
  color: #111;
  padding-left: 92px;
  padding-top: 35px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
}
.categories__head--first::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 49px;
  top: 22px;
  left: 30px;
  background-image: url(../img/cat.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
.categories__head--second::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
  background-image: url(../img/puma.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
.categories__head::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 22px;
  background-color: #68b738;
  border-radius: 50%;
}
.categories__text {
  font-family: "Arial Regular";
  font-size: 14px;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}
.categories__link {
  font-size: 16px;
  line-height: 16px;
  color: #111;
  text-transform: uppercase;
  position: relative;
  margin: 20px;
  display: inline-block;
  width: 100%;
}
.categories__link::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 11px;
  top: 3px;
  left: 97px;
  background-image: url(../img/arrow.svg);
}
.advantages__title {
  font-size: 36px;
  line-height: 60px;
  color: #111;
  font-weight: 400;
}
.advantages__item {
  list-style: none;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}
.advantages__text {
  font-family: "Arial Regular";
  font-size: 14px;
  line-height: 18px;
  width: 200px;
  position: relative;
}
.advantages__text::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -4px;
  left: -80px;
}
.advantages__text--first::before {
  background-image: url(../img/advantage-mobile-1.png);
}
.advantages__text--second::before {
  background-image: url(../img/advantage-mobile-2.png);
}
.advantages__text--third::before {
  background-image: url(../img/advantage-mobile-3.png);
}
.advantages__text--fourth::before {
  background-image: url(../img/advantage-mobile-4.png);
}
.example {
  background-color: #f2f2f2;
  margin-top: 45px;
  width: 320px;
  margin-left: -20px;
  padding: 20px;
}
.example__title {
  font-size: 36px;
  line-height: 60px;
  color: #111;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 40px;
}
.example__text {
  font-family: "Arial Regular";
  font-size: 14px;
  line-height: 18px;
  width: 266px;
}
.example__definition {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.example__term {
  font-size: 24px;
  line-height: 24px;
  color: #111;
  width: 122px;
  padding: 16px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
.example__description {
  font-family: "Arial Regular";
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  background-color: #f2f2f2;
  width: 70px;
  position: absolute;
}
.example__description--first {
  top: 49px;
  left: 27px;
}
.example__description--second {
  top: 49px;
  right: 25px;
}
.example__intro {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111;
  width: 100%;
  margin-top: 20px;
}
.example__comparison {
  width: 320px;
  height: 240px;
  overflow: hidden;
  margin-left: -20px;
}
.example__container {
  background-color: #f2f2f2;
  background-image: url(../img/after-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.example__divisor {
  background: #f2f2f2 url(../img/before-mobile.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}
.example__divisor-js {
  display: none;
}
.example__label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-align: center;
}
.example__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 82px;
  height: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  margin-bottom: 0;
}
.example__range::-webkit-slider-thumb,
.example__range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: #68b738;
}
.example__label-table {
  display: none;
}
.example__range-table {
  display: none;
}
.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__title {
  font-size: 16px;
  line-height: 20px;
  color: #111;
  width: 105px;
  font-weight: 400;
}
.contacts__text {
  font-family: "Arial Regular";
  font-size: 14px;
  line-height: 20px;
  width: 135px;
}
.contacts__map {
  max-width: 320px;
  height: 400px;
  margin-left: -20px;
}
.page-footer {
  margin: -5px auto;
  width: 320px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
}
.page-footer__logo {
  display: block;
  padding: 31px 80px;
  padding-top: 39px;
  border-bottom: 1px solid #d9d9d9;
}
.page-footer__logo-image {
  max-width: 128px;
  height: 24px;
}
.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin: 26px auto;
}
.social__link {
  font-size: 0;
  display: block;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.social__link--vkontakte {
  background-image: url(../img/vk.svg);
  width: 22px;
  height: 12px;
  margin-top: 4px;
}
.social__link--facebook {
  background-image: url(../img/fb.svg);
  width: 10px;
  height: 19px;
}
.social__link--instagram {
  background-image: url(../img/insta.svg);
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
.page-footer__academy-link {
  display: block;
  font-family: "Arial Regular";
  font-size: 16px;
  line-height: 16px;
  color: #444;
  padding-top: 31px;
  padding-bottom: 35px;
  border-top: 1px solid #d9d9d9;
  position: relative;
}
.page-footer__academy-link::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 34px;
  top: 22px;
  right: 0;
  background-image: url(../img/academy.svg);
  opacity: 0.6;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  .main-nav {
    display: flex;
    width: 768px;
  }
  .page-header__logo {
    padding: 0;
    margin-top: 24px;
    margin-right: 96px;
  }
  .page-header__logo::before {
    display: none;
  }
  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
  .main-nav__toggle {
    display: none;
  }
  .site-list {
    display: flex;
  }
  .site-list__item {
    border: none;
    padding: 0;
    margin-top: 41px;
    margin-right: 38px;
  }
  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }
  .site-list__item:first-child {
    border-top: none;
  }
  .site-list__item a {
    font-weight: normal;
    font-size: 18px;
    line-height: 24.86px;
    color: #222;
  }
  .page-header__container {
    border: none;
    background: none;
  }
  .page-header__intro {
    font-size: 60px;
    line-height: 60px;
    color: #111;
    width: 427px;
    margin-top: 57px;
    margin-left: 72px;
    text-align: left;
  }
  .page-header__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #111;
    margin-left: 80px;
    margin-top: 46px;
  }
  .page-header__image {
    margin: 0;
    margin-top: -55px;
  }
  .page-header__button {
    position: absolute;
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 16px;
    margin: 0;
    top: 418px;
    left: 100px;
  }
  .categories__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 55px;
  }
  .page-main {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .categories__head {
    font-size: 36px;
    width: 100%;
    padding: 0;
    margin-top: 80px;
  }
  .categories__head--first::before {
    width: 140px;
    height: 194px;
    top: 0;
    right: 92px;
    left: auto;
  }
  .categories__head--second::before {
    width: 268px;
    height: 112px;
    left: auto;
    top: 58px;
    right: 28px;
  }
  .categories__head::after {
    width: 200px;
    height: 200px;
    top: 12px;
    left: auto;
    right: 62px;
  }
  .categories__text {
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 335px;
  }
  .categories__link {
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 62px;
    margin-bottom: 62px;
  }
  .categories__link::after {
    top: 5px;
    left: 132px;
  }
  .advantages__title {
    font-size: 60px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 615px;
    padding: 0;
  }
  .advantages__item {
    margin: 0;
    margin-bottom: 136px;
  }
  .advantages__text {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 220px;
  }
  .advantages__text::before {
    width: 80px;
    height: 80px;
    position: static;
    margin-bottom: 33px;
  }
  .advantages__text--first::before {
    background-image: url(../img/advantage-1.png);
  }
  .advantages__text--second::before {
    background-image: url(../img/advantage-2.png);
  }
  .advantages__text--third::before {
    background-image: url(../img/advantage-3.png);
  }
  .advantages__text--fourth::before {
    background-image: url(../img/advantage-4.png);
  }
  .advantages__text::after {
    font-family: "Oswald";
    font-size: 281.07px;
    line-height: 281.07px;
    color: #f2f2f2;
    position: absolute;
    top: -40px;
    z-index: -1;
  }
  .advantages__text--first::after {
    content: "1";
    right: -12px;
  }
  .advantages__text--second::after {
    content: "2";
    right: -11px;
  }
  .advantages__text--third::after {
    content: "3";
    right: -5px;
  }
  .advantages__text--fourth::after {
    content: "4";
    right: -7px;
  }
  .example {
    background: none;
    width: auto;
  }
  .example__title {
    font-size: 60px;
  }
  .example__top {
    display: flex;
    flex-wrap: wrap;
  }
  .example__text {
    font-size: 16px;
    line-height: 24px;
    width: 630px;
  }
  .example__definition {
    justify-content: flex-start;
  }
  .example__term {
    font-size: 30px;
    line-height: 37.02px;
    width: 160px;
    margin-right: 42px;
  }
  .example__description {
    background-color: #fff;
    width: 116px;
    padding-left: 10px;
    padding-right: 10px;
    top: 63px;
  }
  .example__description--first {
    left: 25px;
  }
  .example__description--second {
    left: 225px;
  }
  .example__intro {
    width: 180px;
    margin-left: 96px;
    margin-top: 25px;
    text-align: right;
    font-size: 22.69px;
    line-height: 22.69px;
  }
  .example__comparison {
    width: 768px;
    height: 631px;
    margin-left: -30px;
  }
  .example__container {
    background-image: url(../img/after-tablet.png), linear-gradient(#fff 169px, #eaeaea 169px, #eaeaea 462px);
    background-position: 46px 0, 0 0;
  }
  .example__divisor {
    background-image: url(../img/before-tablet.png), linear-gradient(#fff 169px, #f2f2f2 169px, #f2f2f2 462px);
    width: 50%;
    background-position: 45px 0, 0 0;
  }
  .example__label {
    display: none;
  }
  .example__label-table {
    display: inline;
    font-size: 20px;
    line-height: 20px;
    color: #111;
    border-bottom: 1px dotted #b8b8b8;
    position: relative;
    bottom: 98px;
    left: 77px;
  }
  .example__range-table {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    width: 428px;
    height: 6px;
    border-radius: 5px;
    background-color: #dcdcdc;
    bottom: 98px;
    left: 77px;
    margin: 24px;
    margin-bottom: 0;
  }
  .example__range-table::-webkit-slider-thumb,
  .example__range-table::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background-color: #68b738;
    border: 1px solid #cecece;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 11px #fff;
  }
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    width: 132px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    width: 144px;
    text-align: right;
  }
  .content__text-town {
    line-height: 50px;
  }
  .contacts__map {
    max-width: 768px;
    height: 400px;
    margin-left: -30px;
  }
  .page-footer {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    border: none;
    padding: 63px 0;
  }
  .social {
    display: flex;
    align-items: center;
  }
  .social__link--vkontakte {
    width: 30px;
    height: 16px;
    margin-top: 6px;
  }
  .social__link--instagram {
    width: 23px;
    height: 23px;
    margin-top: 3px;
  }
  .social__link--facebook {
    width: 14px;
    height: 28px;
  }
  .page-footer__academy-link {
    width: 160px;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
  }
  .page-footer__academy-link::after {
    top: 60px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
    min-height: 696px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .main-nav {
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
  }
  .page-header__logo {
    margin-top: 54px;
  }
  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
  .page-header__logo:hover {
    opacity: 0.8;
  }
  .page-header__logo:active {
    opacity: 0.6;
  }
  .site-list {
    justify-content: space-between;
    width: 480px;
    align-items: baseline;
  }
  .site-list__item {
    margin: 0;
    margin-top: 58px;
    padding-bottom: 12px;
  }
  .site-list__item a {
    color: #fff;
    font-size: 20px;
    background-color: transparent;
  }
  .site-list__item a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-list__item a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .site-list__item--active {
    border-bottom: 2px solid #fff;
  }
  .page-header__container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 720px;
    height: 696px;
    background-image: url(../img/index-background-desktop.jpg);
    z-index: -1;
  }
  .page-header__intro {
    margin-top: 113px;
    margin-left: 84px;
  }
  .page-header__slogan {
    margin-left: 84px;
    width: 300px;
    text-align: left;
  }
  .page-header__image {
    position: absolute;
    top: 182px;
    right: 327px;
  }
  .page-header__button {
    position: static;
    margin-left: 84px;
  }
  .page-header__button:hover {
    background-color: #5eaa2f;
  }
  .page-header__button:active {
    color: rgba(255, 255, 255, 0.302);
  }
  .page-main {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .categories__list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .categories__item {
    width: 570px;
  }
  .categories__head {
    text-align: center;
    margin-left: -55px;
    width: 570px;
  }
  .categories__head--first::before {
    width: 70px;
    height: 97px;
    top: -39px;
    left: 66px;
  }
  .categories__head::after {
    width: 100px;
    height: 100px;
    left: 52px;
    top: -33px;
  }
  .categories__head--second {
    margin-left: 0;
  }
  .categories__head--second::before {
    width: 134px;
    height: 56px;
    top: -11px;
    left: -22px;
  }
  .categories__head--second::after {
    left: 0;
  }
  .categories__text {
    width: 410px;
    margin-top: 45px;
  }
  .categories__link {
    margin-top: 38px;
  }
  .categories__link:hover::after {
    width: 33px;
    background-image: url(../img/long-arrow.svg);
    background-repeat: no-repeat;
  }
  .categories__link:active {
    opacity: 0.3;
  }
  .advantages__title {
    margin-top: 80px;
  }
  .advantages__list {
    width: auto;
  }
  .example {
    background-color: #f2f2f2;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -110px;
    margin-right: -110px;
  }
  .example__title {
    background-color: #fff;
    padding-bottom: 66px;
    margin-top: -20px;
    width: 1440px;
    padding-left: 110px;
  }
  .example__top {
    width: 600px;
  }
  .example__text {
    width: 400px;
    margin-left: 110px;
  }
  .example__description {
    background-color: #f2f2f2;
  }
  .example__definition {
    align-items: baseline;
    margin-left: 110px;
  }
  .example__comparison {
    margin-top: -208px;
  }
  .example__range-table {
    left: 717px;
  }
  .example__label-table {
    bottom: 85px;
    left: 195px;
  }
  .example__label-table:first-of-type {
    left: 1235px;
  }
  .example__intro {
    width: auto;
    margin-left: 110px;
  }
  .example__intro-text {
    margin-left: 65px;
  }
  .example__comparison {
    width: 868px;
  }
  .contacts {
    justify-content: flex-start;
  }
  .contacts__title,
  .contacts__text {
    z-index: 1;
    margin: 0;
    box-sizing: content-box;
    background-color: #fff;
    padding-top: 67px;
    padding-bottom: 60px;
  }
  .contacts__title {
    padding-left: 76px;
    padding-right: 95px;
  }
  .contacts__text {
    padding-right: 76px;
  }
  .contacts__map {
    max-width: 1440px;
    margin-left: -110px;
    margin-top: -248px;
  }
  .page-footer {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .page-footer__logo:hover {
    opacity: 0.8;
  }
  .page-footer__logo:active {
    opacity: 0.6;
  }
  .page-footer__academy-link:hover {
    opacity: 0.5;
  }
  .page-footer__academy-link:active {
    opacity: 0.3;
  }
  .social__link:hover {
    opacity: 0.4;
  }
  .social__link:active {
    opacity: 0.3;
  }
}
.inner-page .main-nav {
  border-bottom: 1px solid #e6e6e6;
}
.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111;
  margin: 0 -20px;
  padding: 19px 0 30px 22px;
  border-bottom: 1px solid #e6e6e6;
}
.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 72px 72px 40px;
  margin: 0 -20px;
  padding: 0 20px 24px;
  border-bottom: 1px solid #ededed;
}
.catalog__item-name {
  line-height: 20px;
  color: #111;
  font-weight: 400;
  width: 70px;
  align-self: center;
}
.catalog__definition {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 2 / 2 / 3 / -1;
  align-content: baseline;
  align-items: baseline;
}
.catalog__description,
.catalog__term {
  font-family: "Arial Regular";
  font-size: 12px;
  line-height: 16px;
}
.catalog__description {
  margin: 0;
  text-align: right;
}
.btn {
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
}
.catalog__link {
  background-color: #68b738;
  border-left: 1px solid #72bb45;
  border-right: 1px solid #72bb45;
  color: #fff;
  grid-area: 3 / 1 / 4 / -1;
}
.catalog__item--more {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 40px;
}
.catalog__more-text {
  line-height: 20px;
  color: #111;
  font-weight: 400;
  text-align: center;
  position: relative;
  padding-top: 80px;
}
.catalog__more-text::after,
.catalog__more-text::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
.catalog__more-text::before {
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}
.catalog__text {
  font-family: "Arial Regular";
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.catalog__show {
  background-color: #f2f2f2;
  color: #444;
}
.extra__title {
  font-size: 20px;
  line-height: 20px;
  color: #111;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 31px 0;
  margin-right: -20px;
}
.extra__title::after {
  content: '';
  height: 3px;
  flex-grow: 1;
  border-left: 1px solid #75bd49;
  border-right: 1px solid #75bd49;
  background-color: #68b738;
  margin-left: 24px;
}
.extra__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #cdcdcd;
}
.extra__item {
  display: grid;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
  grid-row-gap: 14px;
}
.extra__item--gift {
  border: 0;
  padding: 0;
  background-image: url(../img/gift-photo-mobile.jpg);
  height: 289px;
  position: relative;
  margin: 37px 0;
}
.extra__name {
  line-height: 16px;
  color: #111;
  font-weight: 400;
  margin-top: 14px;
}
.extra__definition {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.extra__term,
.extra__description {
  margin: 0;
  font-family: 'Arial Regular';
  font-size: 14px;
  line-height: 14px;
}
.extra__description {
  text-align: right;
}
.extra__gift {
  line-height: 20px;
  color: #fff;
  text-align: center;
  align-self: end;
  margin-bottom: 42px;
}
.extra__gift::before {
  content: '';
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55px;
  height: 60px;
  background-image: url(../img/gift.svg);
}
.inner-page .contacts {
  justify-content: space-around;
  margin: 0 -20px;
  background-color: #f2f2f2;
}
.inner-page .contacts .contacts__map {
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__title,
  .inner-page .main-nav {
    border: 0;
  }
  .catalog__title {
    font-size: 60px;
    padding-top: 66px;
  }
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 140px 60px;
    margin-top: 136px;
  }
  .catalog__item {
    padding: 40px 37px;
    background-color: #f2f2f2;
    grid-template-columns: 249px;
    grid-template-rows: 98px 64px 144px 40px;
    margin: 0;
    border-bottom: 0;
    justify-items: center;
  }
  .catalog__item-name {
    width: 120px;
    font-size: 20px;
    text-align: center;
  }
  .catalog__item img {
    margin-top: -100px;
  }
  .catalog__item:nth-child(2n) img {
    margin-top: -120px;
  }
  .catalog__item--more {
    background-color: transparent;
    border: 1px solid #e6e6e6;
  }
  .catalog__description,
  .catalog__term {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #cdcdcd;
  }
  .btn {
    justify-self: stretch;
  }
  .catalog__link {
    grid-area: 4/1/-1/-1;
  }
  .catalog__definition {
    grid-area: auto;
    justify-self: stretch;
  }
  .catalog__more-text {
    font-size: 20px;
    grid-row: 1 / 3;
    width: 130px;
    align-self: end;
    padding-top: 130px;
  }
  .catalog__more-text::before,
  .catalog__more-text::after {
    width: 60px;
  }
  .catalog__text {
    font-size: 16px;
    line-height: 1;
    grid-row: 3;
    margin-top: 30px;
  }
  .catalog__show {
    grid-row: 4;
  }
  .extra__title {
    font-size: 36px;
    line-height: 36px;
    margin: 73px -30px;
    padding-left: 67px;
  }
  .extra__title::before {
    content: '';
    height: 3px;
    background-color: #68b738;
    margin-left: -68px;
    width: 30px;
    margin-right: 40px;
  }
  .extra__title::after {
    margin-left: 38px;
  }
  .extra__list {
    border: 0;
  }
  .extra__item {
    border: 1px solid #cdcdcd;
    border-bottom: 0;
    padding: 27px 36px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 27px;
  }
  .extra__item:nth-last-child(2) {
    border-bottom: 1px solid #cdcdcd;
  }
  .extra__item--gift {
    background-image: url(../img/gift-photo-tablet.jpg);
    height: 200px;
    margin: 73px 0;
  }
  .extra__name {
    font-size: 20px;
    line-height: 20px;
  }
  .extra__definition {
    align-content: center;
  }
  .extra__description,
  .extra__term {
    font-size: 16px;
    line-height: 20px;
  }
  .extra__link {
    grid-area: 2 / 1 / 3 / -1;
  }
  .extra__gift {
    text-align: left;
    grid-column-start: 2;
    margin-left: 70px;
  }
  .extra__gift::before {
    top: 65px;
    left: 91px;
    -webkit-transform: none;
            transform: none;
  }
  .inner-page .contacts {
    justify-content: space-between;
    margin: 0 -30px;
    padding: 0 72px;
  }
  .inner-page .contacts .contacts__map {
    margin-left: -72px;
  }
  .inner-page .contacts__text,
  .inner-page .contacts__title {
    padding: 65px 0;
    margin: 0;
  }
}
